# Dependencies
node_modules/

# Build
.next/
out/

# Local env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# Vercel
.vercel

# IDE
.vscode/
*.swp

# OS
.DS_Store
